page-login {
.body{
        position: relative;
        background-image:url('../../assets/imgs/bk.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

.input{
    background-color: transparent;
    color: white;
    top: 100px;
}
    

    .flex{
        display: flex;
        justify-content: center;
        position: relative;
        top: 100px;
        color: white;
    }
}
