page-profile {
    .body{
        position: relative;
        background-image:url('../../assets/imgs/bk.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .input{
        background-color: transparent;
        color: white;
    }

    .imgListaSize {
        margin: auto;
        width: 20vw !important;
        height: 20vw !important;
    }

}
